<div>
  <h2 id="page-heading" data-cy="TransferHeading">
    <span jhiTranslate="inventoryManagementApp.transfer.home.title">Transfers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="inventoryManagementApp.transfer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transfer"
        [routerLink]="['/transfer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inventoryManagementApp.transfer.home.createLabel"> Create a new Transfer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transfers?.length === 0">
    <span jhiTranslate="inventoryManagementApp.transfer.home.notFound">No transfers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transfers && transfers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tranferDate">
            <span jhiTranslate="inventoryManagementApp.transfer.tranferDate">Tranfer Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="inventoryManagementApp.transfer.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="inventoryManagementApp.transfer.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sourceWareHouse">
            <span jhiTranslate="inventoryManagementApp.transfer.sourceWareHouse">Source Ware House</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="destinationWareHouse">
            <span jhiTranslate="inventoryManagementApp.transfer.destinationWareHouse">Destination Ware House</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <span jhiTranslate="inventoryManagementApp.transfer.freeField1">Free Field 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="inventoryManagementApp.transfer.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="inventoryManagementApp.transfer.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="securityUser.login">
            <span jhiTranslate="inventoryManagementApp.transfer.securityUser">Security User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="wareHouse.whName">
            <span jhiTranslate="inventoryManagementApp.transfer.wareHouse">Ware House</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of transfers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transfer', transfer.id, 'view']">{{ transfer.id }}</a>
          </td>
          <td>{{ transfer.tranferDate | formatMediumDatetime }}</td>
          <td>{{ transfer.comment }}</td>
          <td jhiTranslate="{{ 'inventoryManagementApp.Status.' + transfer.status }}">{{ transfer.status }}</td>
          <td>{{ transfer.sourceWareHouse }}</td>
          <td>{{ transfer.destinationWareHouse }}</td>
          <td>{{ transfer.freeField1 }}</td>
          <td>{{ transfer.lastModified }}</td>
          <td>{{ transfer.lastModifiedBy }}</td>
          <td>
            <div *ngIf="transfer.securityUser">
              <a [routerLink]="['/security-user', transfer.securityUser?.id, 'view']">{{ transfer.securityUser?.login }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transfer.wareHouse">
              <a [routerLink]="['/ware-house', transfer.wareHouse?.id, 'view']">{{ transfer.wareHouse?.whName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transfer', transfer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transfer', transfer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transfer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transfers && transfers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
