<div>
  <h2 id="page-heading" data-cy="PurchaseQuotationDetailsHeading">
    <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.home.title">Purchase Quotation Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase-quotation-details"
        [routerLink]="['/purchase-quotation-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.home.createLabel">
          Create a new Purchase Quotation Details
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="purchaseQuotationDetails?.length === 0">
    <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.home.notFound">No purchaseQuotationDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="purchaseQuotationDetails && purchaseQuotationDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="qtyordered">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.qtyordered">Qtyordered</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gstTaxPercentage">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.gstTaxPercentage">Gst Tax Percentage</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pricePerUnit">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.pricePerUnit">Price Per Unit</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalPrice">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.totalPrice">Total Price</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="discount">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.discount">Discount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.lastModified">Last Modified</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.lastModifiedBy">Last Modified By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.freeField1">Free Field 1</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.freeField2">Free Field 2</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.id">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="purchaseQuotation.id">
            <span jhiTranslate="inventoryManagementApp.purchaseQuotationDetails.purchaseQuotation">Purchase Quotation</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchaseQuotationDetails of purchaseQuotationDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/purchase-quotation-details', purchaseQuotationDetails.id, 'view']">{{ purchaseQuotationDetails.id }}</a>
          </td>
          <td>{{ purchaseQuotationDetails.qtyordered }}</td>
          <td>{{ purchaseQuotationDetails.gstTaxPercentage }}</td>
          <td>{{ purchaseQuotationDetails.pricePerUnit }}</td>
          <td>{{ purchaseQuotationDetails.totalPrice }}</td>
          <td>{{ purchaseQuotationDetails.discount }}</td>
          <td>{{ purchaseQuotationDetails.lastModified }}</td>
          <td>{{ purchaseQuotationDetails.lastModifiedBy }}</td>
          <td>{{ purchaseQuotationDetails.freeField1 }}</td>
          <td>{{ purchaseQuotationDetails.freeField2 }}</td>
          <td>
            <div *ngIf="purchaseQuotationDetails.product">
              <a [routerLink]="['/product', purchaseQuotationDetails.product?.id, 'view']">{{ purchaseQuotationDetails.product?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="purchaseQuotationDetails.purchaseQuotation">
              <a [routerLink]="['/purchase-quotation', purchaseQuotationDetails.purchaseQuotation?.id, 'view']">{{
                purchaseQuotationDetails.purchaseQuotation?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/purchase-quotation-details', purchaseQuotationDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/purchase-quotation-details', purchaseQuotationDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(purchaseQuotationDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="purchaseQuotationDetails && purchaseQuotationDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
